body {
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
  background-color: rgb(179, 219, 219);
}

h1 {
  font-size: 50px;
}

#eightball {
  background-color: black;
  width: 300px;
  height: 300px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
  border: 1px solid black;
  border-radius: 50%;
}

.middle {
  background-color: grey;
  border: 1px solid grey;
  border-radius: 50%;
  width: 50%;
  height: 50%;
  margin: 25% auto;
}

#eight {
  color: white;
  font-size: 50px;
  margin: 30% auto;
}

#answer {
  color: rgb(179, 219, 219);
  font-size: 18px;
  font-weight: bold;
}

#submit {
  padding: 5px 20px;
  font-size: 18px;
  margin-bottom: 30px;
}

.ask {
  font-size: 18px;
}

#question {
  padding: 5px 20px;
  font-size: 15px;
}
