body {
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
}

#eightball {
  background-color: black;
  width: 300px;
  height: 300px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
  border: 1px solid black;
  border-radius: 50%;
}

.middle {
  background-color: grey;
  border: 1px solid grey;
  border-radius: 50%;
  width: 50%;
  height: 50%;
  margin: 25% auto;
}

#eight {
  color: white;
  font-size: 50px;
  margin: 30% auto;
}

#answer {
  padding: 30px;
  color: lightblue;
  font-size: 18px;
}
